*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(253, 85, 1);
    color: white;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
}

.contenitore-arancio{
    width: 70%;
    height: 50px;
    
    align-items: center;
    margin: 0 auto;
    
}


p{
    padding: 2px 5px 2px 5px;
}

.persone{
    margin-left: 1rem;
    font-size: 10px;
}

.logo{
    height: 30px;
    padding: 2px 11rem 2px 11rem;
    width: 100%;
    
}

.segni{
    color: white;
    height: 100%;
}

.contenitore{
    margin: 0 auto;
    width: 70%;
}



.riga{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}
article.prodotto{
    width: calc((100% / 3) - .5rem);
    margin:  2rem .25rem;
    position: relative;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

article.prodotto img{
    height: 100%;
    width: 100%;
}

article.prodotto span.cuore {
    position: absolute;
    top: 5px;
    right:0;
    background-color: rgb(255, 255, 255);
    font-size: 1.3rem;
}

.article.prodotto span.sconto{
    position: absolute;
    bottom: 15px;
    left: 0;
    background-color: red;
    font-size: 2rem;

}