*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(253, 85, 1);
    color: white;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.flex{
    display: flex;
}

.contenitore-arancio{
    width: 70%;
    height: 50px;
    
    align-items: center;
    margin: 0 auto;
    
}


p{
    padding: 2px 5px 2px 5px;
}

.persone{
    margin-left: 1rem;
    font-size: 10px;
}

.logo{
    height: 30px;
    padding: 2px 11rem 2px 11rem;
    width: 100%;
    
}

.segni{
    color: white;
    height: 100%;
    padding: 14px 5px 5px 5px;
    align-self: flex-end;
}

.contenitore{
    margin: 0 auto;
    width: 70%;
}



.riga{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}
article.prodotto{
    width: calc((100% / 3) - .5rem);
    margin:  2rem .25rem;
    position: relative;
    
    justify-content: center;
    align-items: center;
    align-content: space-around;
}


article.prodotto img{
    height: 100%;
    width: 100%;
}

article.prodotto span.cuore {
    position: absolute;
    top: 5px;
    right:0;
    background-color: rgb(255, 255, 255);
    font-size: 1.3rem;
}

.sconto{
    position: absolute;
    bottom: 70px;
    left: 0;
    background-color: red;
    font-size: 10px;
    color: white;
    text-align: center;
    padding: 3px;
}

.verde{
    position: absolute;
    bottom: 70px;
    left: 34px;
    background-color: green;
    font-size: 10px;
    color: white;
    text-align: center;
    padding: 3px;
}

.foto-R{
    display: block;
}

.foto-S{
    display: none;
}

.nome-marca{
    font-size: 10px;
}


.T-grande{
   text-transform: uppercase;
   font-size: 12px;
}

.numero-rosso{
    color: red;
    font-size: 11px;
    margin-top: 0px;
}
.numero{
    text-decoration: line-through;
    font-size: 11px;
    margin-left: 0px;
    margin-top: 0px;
}

.apposta{
    position: absolute;
    bottom: 70px;
    left: 0px;
    background-color: green;
    font-size: 10px;
    color: white;
    text-align: center;
    padding: 3px;

}

.article:hover .img .foto-R{
    background-image: url(./img/1b.webp);
    
}

.ultima-parte{
    padding-top: 3rem;
    width: 100%;
    background-color: black;
    color: white;
    margin: auto;
    
}

.boolando{
    padding-left: 143px;
}

.footer{
    width: 70%;
    font-size: 15px;
    margin: 0 auto;
    padding-bottom: 3rem;
}
